@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,500;0,900;1,100;1,200&display=swap');


/*
--tigers-eye: #b1740fff;
--jasmine: #ffd07bff;
--xanthous: #fdb833ff;
--azul: #296eb4ff;
--bleu-de-france: #1789fcff;
*/