@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,500;0,900;1,100;1,200&display=swap');


:root {
    /* change the values below to your colors from your palette */
    --primary-color: #36151eff;
    --secondary-color: #593f62ff;
    --accent1-color: #7b6d8dff;
    --accent2-color: #8499b1ff;
    --accent3-color: #a5c4d4ff;
}
body {
    background-color: #7b6d8dff;
    color: #593f62ff;
}
#content {
    margin: 0 auto;
    max-width: auto;
}

header {
    background-color: #36151eff;
    font-family: "Playfair Display", sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #a5c4d4ff;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #593f62ff;
    color: #8499b1ff;
}

p {
    font-size: 15px;
    color: #36151eff;
}

h1 {
    font-size: 22px;
    color: #36151eff;
    font-weight: bolder;
    font-style: italic;
}
h2 {
    font-size: 20px;
    color: #8499b1ff;
    font-weight: bold;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    grid-template-rows: 11;

}

footer{
    background-color: #36151eff;
    color: #a5c4d4ff;
    padding: 20px 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer{
    background-color: #36151eff;
    color: #a5c4d4ff;
}

footer a {
    color: #a5c4d4ff;
    text-decoration: none;
}
footer a:hover {
    background-color: #593f62ff;
    color: #8499b1ff;
}
footer p {
    font-size: 1.2em;
    text-decoration: underline 5px;
}

footer .social img {
    padding-top: 15px;
}
/*resume specific items*/

#myname {
    margin: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
}

#address {
    margin: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
}

#portrait {
    margin: 20px;
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    width: 100%;
    align-self: center;

}

#education {
    margin: 20px;
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    width: 100%;
}

#experience {
    margin: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    width: 100%;
}

#recognition {
    margin: 20px;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    width: 100%;
}

#toolkit {
    margin: 20px;
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#jobpic {
    margin: 20px;
    grid-column: 2 / 5;
    grid-row: 5 / 8;
    width: 100%;
}

/*projects page stuff*/
#clean {
    float: left;
    margin: 5px;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    text-align: left;
    width: 80%;
}
.clean-pic {
    border: 10px #8499b1ff;
    float: left;
    padding-right: 5px;
}

#food {
    float: right;
    margin: 5px;
    grid-column: 2 / 6;
    grid-row: 3 / 5;
    justify-content: end;
    text-align: right;
    width: 80%;
}

.food-pic1 {
    border: 10px #8499b1ff;
    float: right;
    padding-right: 5px;
}

.food-pic2 {
    border: 10px #8499b1ff;
    float: right;
    padding-right: 5px;
}

#data-design {
    float: left;
    margin: 5px;
    grid-column: 2 / 4;
    grid-row: 5 / 7;
    width: 80%;
    text-align: center;
}
.data-pic {
    border: 10px #8499b1ff;
    float: none;
    padding-right: 5px;
    grid-column: 4 / 5;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*this is the about me specific page items */
#family {
    margin: 5px;
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    width: auto;
    text-align: center;
}

.family-pic1 {
    border: 10px #8499b1ff;
    float: left;
    padding-right: 5px;
}

.family-pic2 {
    border: 10px #8499b1ff;
    float: left;
    padding-right: 5px;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.family-pic3 {
    border: 10px #8499b1ff;
    float: left;
    padding-right: 5px;
    grid-column: 3 / 4;
    grid-row: 5 / 7;
}

.family-pic4 {
    border: 10px #8499b1ff;
    float: left;
    padding-right: 5px;
    grid-column: 4 / 5;
    grid-row: 7 / 9;
}

.family-pic5 {
    border: 10px #8499b1ff;
    float: left;
    padding-right: 5px;
    grid-column: 5 / 6;
    grid-row: 9 / 11;
}